@import "compass/reset";
@import "compass/css3";

html {
  font-family: Helvetica Neue, Helvetica, sans-serif;
}

h1 {
  font-size: 2.0em;
}

.header-info {
  margin: 25vh 0 15vh 0;

  .title {
    font-size: 2.5em;
  }

  #yelp-tag {
    width: 75px;
    height: auto;
  }
}


.runButt {
  margin: 0 0 10vh 0;
}

.shop-content {
  @include display-flex;
  @include flex-direction(column);
  @include justify-content(center);
  @include align-items(center);
}

.shops {
  margin: 0 0 5em 0;
  width: 300px;
  @include display-flex;
  @include flex-direction(row);
  @include justify-content(flex-start);

  .shop-data {
    margin: 0 0 0 20px;
    @include display-flex;
    @include flex-direction(column);
    //@include justify-content(space-around);
    strong {
      font-weight: 500;
    }

    p {
      margin: 0 0 5px 0;
    }

    a {
      color: #c41200;
    }
  }
}
